@media ( max-width: 1250px ) {

    /* body */
    .conteiner > .row {
        width: 100%;
        margin: 0;
    }

    /* hero */
    .hero-text{
        margin-left: calc(50% - 210px);
    }

    .row > h1 {
        text-align: center;
    }

    /* about */
    .about-box{
        text-align: center;
        width: 580px;
        margin-left: calc(50% - 290px);
        padding-bottom: 30px;
    }

    /* news and events */
    .box{
        padding: 30px;
    }

    /* selinexor */
    .selinexor-box {
        text-align: center;
        width: 600px;
        margin-left: calc(50% - 300px);
    }

    .selinexor-box > img{
        height: 250px;
        margin: 30px 0;
    }

}

@media ( max-width: 1100px ) {

    /* header */
    .menu-toggle{
        display: block;
    }
        #header_nav{
            position: absolute;
            width: 150px;
            margin-left: calc(100% - 150px);
            height: calc( auto - 50px );
            background: #fff;
            top: -220px;
            right: 10px;
            transition: 0.5s;
            border-radius: 15px;
            box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
        }
            #header_nav.active{
                top: 60px;
            }

            #header_nav > a {
                display: block;
                width: 100%;
                text-align: center;
            }

    
}

@media ( max-width: 757px ) {

    /* footer */
    #footer > .row > .right-side {
        float: left;
    }

    #footer.conteiner {
        height: auto; 
    }
}



@media ( max-width: 700px ){

    /* header */
    #header_logo img {
        height: 30px;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    }

    /* hero */

    .hero-text{
        width: 400px;
        margin-left: calc(50% - 200px);
    }

    /* about */
    .about-box{
        text-align: center;
        width: 400px;
        margin-left: calc(50% - 200px);
        padding-bottom: 30px;
    }

    .about-box > iframe{
        height: 225px;
        width: 400px;
    }

}


