@media ( max-width: 1250px ) {

    /* body */
    .conteiner > .row {
        width: 100%;
        margin: 0;
    }
        .row > h1 {
            text-align: center;
            margin: 60px 0 0;
        }

    /* hero */
    .hero-text{
        text-align: justify;
        margin-left: calc(50% - 210px);
    }

    /* about */
    .about-box{
        text-align: justify;
        width: 580px;
        margin-left: calc(50% - 290px);
        padding-bottom: 30px;
    }

    /* news and events */
    .box{
        text-align: justify;
        padding: 30px;
    }

    /* selinexor */
    .selinexor-box {
        text-align: center;
        width: 600px;
        margin-left: calc(50% - 300px);
    }
        .selinexor-box > h1{
            margin: 60px 0 0;
        }
        .selinexor-box > p{
            text-align: justify;
            margin: 60px 0 0;
        }
        .selinexor-box > img{
            height: 250px;
            margin: 30px 0;
        }
}

@media ( max-width: 1200px ) {

    /* header */
    .menu-toggle{
        display: block;
    }
        #header_nav{
            position: absolute;
            width: 150px;
            margin-right: calc(100% - 150px);
            height: calc( auto - 50px );
            background: #fff;
            top: -500px;
            left: 5px;
            transition: 0.5s;
            border-radius: 15px;
            box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
        }
            #header_nav > a {
                display: block;
                width: 100%;
                text-align: center;
            }
}

@media ( max-width: 757px ) {

    /* footer */
    #footer.conteiner {
        height: auto; 
    }
        .left-side > div{
            float: none;
            text-align: center;
        }
            .left-side > div > img.logo{
                height: 100px;
                margin: 30px 0 0;
                padding: 0 0 0 26px;
            }
            .left-side .text {
                line-height: 70px;
                height: auto;
            }
                .left-side .text > div{
                    float: left;
                    font-family: calibri;
                    font-size: 17px;
                    font-weight: 100;
                    padding: 0 5px;
                }
                    .left-side .text .copyright{
                        width: 100%;
                        text-align: center;
                    }
                    .left-side .text .vertical-bar{
                        display: none;
                    }
                    .left-side .text .contact{
                        width: 50%;
                        text-align: right;
                    }
                    .left-side .text .careers{
                        width: 50%;
                        text-align: left;
                    }
            .left-side .first{
                float: left;
                width: 50%;
                text-align: right;
            }
            .left-side .second{
                float: right;
                width: 50%;
                text-align: left;
            }
        .right-side {
            float: left;
            width: 180px;
            text-align: center;
            margin-left: calc(50% - 90px);
            margin-bottom: 30px;
        }
            .right-side > div.search {
                background-color: transparent;
                width: 45px;
                height: auto;
            }
}

@media ( max-width: 700px ){

    /* header */
    #header_logo img {
        height: 30px;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    }

    /* hero */
    .hero-text{
        width: 400px;
        margin-left: calc(50% - 200px);
    }

    /* about */
    .about-box{
        width: 400px;
        margin-left: calc(50% - 200px);
        padding-bottom: 30px;
    }
        .about-box > iframe{
            height: 225px;
            width: 400px;
        }

    /* selinexor */
    .selinexor-box {
        text-align: center;
        width: 400px;
        margin-left: calc(50% - 200px);
    }

}

@media ( max-width: 420px ){

    /* header */
    #header_logo img {
        height: 30px;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    }

    /* hero */
    .hero-text{
        width: 300px;
        margin-left: calc(50% - 150px);
    }

    /* about */
    .about-box{
        text-align: center;
        width: 300px;
        margin-left: calc(50% - 150px);
        padding-bottom: 30px;
    }
        .about-box > iframe{
            height: 168px;
            width: 300px;
        }

    /* selinexor */
    .selinexor-box {
        text-align: center;
        width: 300px;
        margin-left: calc(50% - 150px);
    }
}